<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashboard.css' rel='stylesheet' />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page page--dashboard">
        <aside class="page_aside aside vertical vertical--big">
            <div class="text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/home.svg');"></span>
                    <span class="text text--light">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/orders.svg');"></span>
                    <span class="text text--light">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/products.svg');"></span>
                    <span class="text text--light">Products</span>
                </a>

            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text--small">
                <div class="header_search relative">
                    <input type="text" placeholder="Search" class="text field field--header">
                    <span class="icon header_icon-search"
                        style="background-image: url('/svg/header/search.svg');"></span>
                    <span class=" icon icon--header-settings icon-button icon--color-blue click "
                        style="background-image: url('/svg/header/settings.svg');"></span>
                </div>


            </div>
            <div class="header_icon_list">
                <span class=" icon icon--header-symbol icon-button icon--color-yellow click "
                    style="background-image: url('/svg/header/signal.svg');"></span>
                <span class=" icon icon--header-symbol icon-button icon--color-blue-ultralight click "
                    style="background-image: url('/svg/header/translate.svg');"></span>
                <span class=" icon icon--header-symbol icon-button icon--color-yellow click "
                    style="background-image: url('/svg/header/bell.svg');"></span>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_block">
                    <div class="analytic analytic_double analytic--blue">
                        <span class=" icon analytic_button icon-button icon--color-blue click "
                            style="background-image: url('/svg/analytic/order.svg');"></span>
                        <div class="relative vertical vertical--small">
                            <div class="analytic_title text--bold text text--light">$961</div>
                            <div class="text text-small text--lighter">Total Order</div>
                            <span class=" icon analytic_arrow"
                                style="background-image: url('/svg/analytic/blue-arrow.svg');"></span>
                        </div>
                    </div>
                    <div class="analytic analytic_double analytic--purple">
                        <span class=" icon analytic_button icon-button icon--color-purple click "
                            style="background-image: url('/svg/analytic/money.svg');"></span>
                        <div class="vertical vertical--small">
                            <div class="analytic_title text--bold text text--light">$500.00</div>
                            <div class="text text-small text--lighter">Total earning</div>

                        </div>
                    </div>

                    <div class="analytic analytic_one  analytic--blue">
                        <span class=" icon analytic_button icon-button icon--color-blue click "
                            style="background-image: url('/svg/analytic/money.svg');"></span>
                        <div class="vertical vertical--min">
                            <div class="analytic_one-title text--bold text text--light">$203k</div>
                            <div class="text text-small text--lighter">Total Income</div>

                        </div>
                    </div>
                    <div class="analytic analytic_one  analytic--white">
                        <span class=" icon analytic_button icon-button icon--color-yellow click "
                            style="background-image: url('/svg/analytic/shop.svg');"></span>
                        <div class="vertical vertical--min">
                            <div class="analytic_one-title text--bold text">$203k</div>
                            <div class="text text-small text--gray">Total Income</div>

                        </div>
                    </div>

                </section>
                <div class="blocks_msg_payment">
                    <section class="box messages_block">
                        <div class="messages">
                            <h1 class="text text--bold messages_title">Purchase list</h1>

                            <div class="text msg">
                                <div class="msg_info">
                                    <strong>ID437661</strong>
                                    <p>May 11, 2023, 14:21</p>
                                </div>
                                <div class="msg_info">
                                    <strong>AirOn ProCam</strong>
                                    <p>7/8 USB Type-C</p>
                                </div>
                                <div class="msg_info">
                                    <strong>132.32 EUR</strong>
                                    <p class="text--red">Not paid</p>
                                </div>
                                <div class="msg_info">
                                    <strong>Customer</strong>
                                    <p>robin@com.de</p>
                                </div>
                            </div>
                            <div class="text msg">
                                <div class="msg_info">
                                    <strong>ID437661</strong>
                                    <p>May 11, 2023, 14:21</p>
                                </div>
                                <div class="msg_info">
                                    <strong>PHILIPS Essential</strong>
                                    <p>HD9200/90</p>
                                </div>
                                <div class="msg_info">
                                    <strong>543 USD</strong>
                                    <p class="text--green">Pay by Stripe</p>
                                </div>
                                <div class="msg_info">
                                    <strong>Customer</strong>
                                    <p>dima@com.ua</p>
                                </div>
                            </div>

                        </div>
                    </section>


                    <section class="box payment">

                        <form class="text form">
                            <h2 class="form_title text--bold ">Payment</h2>

                            <div class="form_input_list">

                                <label class=" click">
                                    <input type="radio" checked="checked" name="radio">
                                    <span></span>Credit card
                                </label>
                                <label class=" click">
                                    <input type="radio" name="radio">
                                    <span></span>Debit card
                                </label>
                                <label class=" click">
                                    <input type="radio" name="radio">
                                    <span></span>PayPal
                                </label>


                            </div>
                            <div class="form_checkbox">


                                <div class="form_card">
                                    <div>

                                        <div class="form_block">
                                            <label for="Name on card">Name on card</label>
                                            <input type="text" name="Name on card" id="Name on card" class="text field">

                                        </div>
                                        <div class="form_block">
                                            <label for="Name on card">Credit card number</label>
                                            <input type="text" name="Credit card number" id="Credit card number"
                                                class="text field">

                                        </div>
                                    </div>
                                    <div>
                                        <div class="form_block">
                                            <label for="Name on card">Expiration</label>
                                            <input type="text" name="Expiration" id="Expiration" class="text field">

                                        </div>
                                        <div class="form_block">
                                            <label for="Name on card">CVV</label>
                                            <input type="text" name="CVV" id="CVV" class="text field">

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form_choose_box">
                                <div class="form_choose_card">

                                    <div class=" relative form_block click">
                                        <label for="Name on card">Country</label>
                                        <div class="text field field-select">
                                            <span class="text">Choose...</span>
                                            <span class=" icon icon--header-settings icon-button"
                                                style="background-image: url('/svg/arrow-down.svg');"></span>
                                        </div>
                                        <select type="text" class="field field_select">
                                            <option value="dog">Ukraine</option>
                                            <option value="cat">USA</option>
                                        </select>
                                    </div>

                                    <div class=" relative form_block click">
                                        <label for="Name on card">State</label>
                                        <div class="text field field-select">
                                            <span class="text ">Choose...</span>
                                            <span class=" icon icon--header-settings icon-button "
                                                style="background-image: url('/svg/arrow-down.svg');"></span>
                                        </div>
                                        <select type="text" class="field field_select">
                                            <option value="dog">Kyiv</option>
                                            <option value="cat">Lviv</option>
                                        </select>
                                    </div>

                                </div>
                            </div>





                            <button type="submit" class="form_button click">Continue to checkout</button>

                        </form>
                    </section>
                </div>
            </div>



        </main>

    </div>

</body>

</html>