@import '/css/var.css';

/* =========================== */

@font-face {
    font-family: 'Segment';
    src: url('/font/Segment-Regular.otf');
    font-weight: 400
}
@font-face {
    font-family: 'Segment';
    src: url('/font/Segment-SemiBold.otf');
    font-weight: 600
}
@layer normalize, main, component, style;

.page {
    background: var(--color-white);
    padding: 0 15px;
    
    display: flex;
    justify-content: center;
}
.page_content {
    font-family: "Roboto";
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
/* =========================== */
.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav {
    display: flex;

}
.nav_inline {
    gap: var(--space-l);
}
.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}
.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}
.nav_link:hover {
   
    text-decoration: underline;
    color: var(--color-primary);
}
    

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}
.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}
.footer_title {
    font-size: var(--size-l);
    color:var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}
.hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);
    padding: var(--space-b);
    border-bottom: 1px solid var(--color-border);
}
.hero_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}
.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.hero_title {
    font-size: 50px;
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
}
.hero_text {
    color: var(--color-text);
    font-size: var(--size-l);
    font-weight: var(--weight-text);
    line-height: 150%;
}
.blog {
    display: flex;
    gap: var(--space-b);
    padding: var(--space-b);
border-bottom: 1px solid var(--color-border);
}
.card {
    display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: var(--space-l);


}
.card_image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.card_title {
    font-size: 32px;
    font-weight:var(--weight-title);
    color: var(--color-title);
}
.card_text {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-text);
}
@layer main {
.button {
    display: inline-block;
    font-size: var(--size-d);
    text-decoration: none;
    padding: var(--space-m) var(--space-xm);
    border-radius: var(--border-radius);
}
}
.button:hover {
    opacity: 0.7;
    background-color: yellow;
    color: red;
}
@layer component {
    .card_button {
        color: var(--color-white);
        background-color: var(--color-primary);
    }}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);
}
.form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}
.form_title {
    font-size: 27px;
    font-weight: var(--weight-title);
    color: var(--color-white);
}
.form_info {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: var(--color-white);

}
.form_button {
    background-color: var(--color-white);
    width: 100%;
    max-width: 160px;
    color: var(--color-text);
}
.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media all and (width <= 600px) {
    .blog {
        grid-template-columns: 1fr;
    }
}
@media all and (600px < width <= 800px)  {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* @media all and (not (min-width: 800px))  {
    .page_content {
       background: red;
    }
} */
/* @media all and (min-height: 600px) {
    .page_content {
       background: red;
    }
}  */
.form {
    gap: var(--space-l);
}
@media all and (width <= 560px)  {
    .form {
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
    }
    .form_info {
        max-width: 300px;
        width: 100%;
        line-height: 150%;
    }
    .form_content {
        align-items: center;
        text-align: center;
    }
}
.hero_container {
    container-type: inline-size;
    container-name: hero;
    
    
}
@container hero (width < 960) {
    .hero {
        flex-direction: column;
    }
}

@layer style {
    .card_button {
        background: red;
    }
    }
 @layer main {
        .card_button {
            background: yellow;
        }
        }
.ex {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 2ex;
    line-height: 1.5em;
}
/* .test {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    height: 100vmax;
    width: 100vmax;
    z-index: 9999;
} */
.hero_title {
    font-size: 5vw;
}